.dashboard {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard h2 {
  font-size: 2.2em;
  margin-bottom: 0.5em;
}

.dashboard p {
  color: #aaa;
  margin-bottom: 1em;
}

.post_header,
.post_row {
  width: 80%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.post_header {
  font-weight: bold;
  border: 2px solid #ccc;
}

.post_row {
  align-items: center;
  border-bottom: 1px solid #eee;
}

.post_row p {
  color: #000;
}

.post_row button,
.post_row a {
  margin: 0 6px;
  font: 0.7em;
  height: 34px;
}

@media (max-width: 768px) {
  .dashboard {
    padding: 1em 1.3em;
  }

  .dashboard h2 {
    font-size: 1.8em;
  }

  .post_row {
    width: 100%;
    padding: 10px 0;
  }

  .post_header {
    padding: 10px;
    width: 100%;
  }

  .post_row button,
  .post_row a {
    margin: 6px 0;
  }
}
